.CreateTodoButton {
    background-color: gray;
    color: aqua;
    position: fixed;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    z-index: 1;
    transform: rotate(0);
    transition: .3s ease;
}

.CreateTodoButton:focus {
    transform: rotate(224deg);
}

